{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/flux-lora-fast-training","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/flux-lora-fast-training queue.","x-fal-metadata":{"endpointId":"fal-ai/flux-lora-fast-training","category":"training","thumbnailUrl":"https://storage.googleapis.com/falserverless/gallery/video-training.webp","playgroundUrl":"https://fal.ai/models/fal-ai/flux-lora-fast-training","documentationUrl":"https://fal.ai/models/fal-ai/flux-lora-fast-training/api"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"FluxLoraFastTrainingInput":{"x-fal-order-properties":["images_data_url","trigger_word","create_masks","steps","is_style","is_input_format_already_preprocessed","data_archive_format"],"type":"object","properties":{"images_data_url":{"description":"\n        URL to zip archive with images. Try to use at least 4 images in general the more the better.\n\n        In addition to images the archive can contain text files with captions. Each text file should have the same name as the image file it corresponds to.\n    ","type":"string","title":"Images Data Url"},"is_input_format_already_preprocessed":{"description":"Specifies whether the input data is already in a processed format. When set to False (default), the system expects raw input where image files and their corresponding caption files share the same name (e.g., 'photo.jpg' and 'photo.txt'). Set to True if your data is already in a preprocessed format.","type":"boolean","title":"Is Input Format Already Preprocessed","default":false},"trigger_word":{"description":"Trigger word to be used in the captions. If None, a trigger word will not be used.\n        If no captions are provide the trigger_word will be used instead of captions. If captions are the trigger word will not be used.\n        ","type":"string","title":"Trigger Word","nullable":true},"steps":{"description":"Number of steps to train the LoRA on.","type":"integer","minimum":1,"maximum":10000,"title":"Steps","examples":[1000]},"data_archive_format":{"description":"The format of the archive. If not specified, the format will be inferred from the URL.","type":"string","title":"Data Archive Format","nullable":true},"is_style":{"description":"If True, the training will be for a style. This will deactivate segmentation, captioning and will use trigger word instead. Use the trigger word to specify the style.","type":"boolean","title":"Is Style","default":false},"create_masks":{"description":"If True segmentation masks will be used in the weight the training loss. For people a face mask is used if possible.","type":"boolean","title":"Create Masks","default":true}},"title":"PublicInput","required":["images_data_url"]},"FluxLoraFastTrainingOutput":{"x-fal-order-properties":["diffusers_lora_file","config_file","debug_preprocessed_output"],"type":"object","properties":{"config_file":{"description":"URL to the training configuration file.","title":"Config File","allOf":[{"$ref":"#/components/schemas/File"}]},"debug_preprocessed_output":{"description":"URL to the preprocessed images.","title":"Debug Preprocessed Output","allOf":[{"$ref":"#/components/schemas/File"}]},"diffusers_lora_file":{"description":"URL to the trained diffusers lora weights.","title":"Diffusers Lora File","allOf":[{"$ref":"#/components/schemas/File"}]}},"title":"Output","required":["diffusers_lora_file","config_file"]},"File":{"x-fal-order-properties":["url","content_type","file_name","file_size","file_data"],"type":"object","properties":{"file_size":{"examples":[4404019],"description":"The size of the file in bytes.","type":"integer","title":"File Size"},"file_name":{"examples":["z9RV14K95DvU.png"],"description":"The name of the file. It will be auto-generated if not provided.","type":"string","title":"File Name"},"content_type":{"examples":["image/png"],"description":"The mime type of the file.","type":"string","title":"Content Type"},"url":{"description":"The URL where the file can be downloaded from.","type":"string","title":"Url"},"file_data":{"format":"binary","description":"File data","type":"string","title":"File Data"}},"title":"File","required":["url"]}}},"paths":{"/fal-ai/flux-lora-fast-training/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/flux-lora-fast-training/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/flux-lora-fast-training":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxLoraFastTrainingInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/flux-lora-fast-training/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxLoraFastTrainingOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}